.page {
    width: 100vw;
    height: 100vw;
    background-color: white;
}

body::-webkit-scrollbar {
    display: none;
}

.page-black {
    background-color: black;
}

.page-red {
    background-color: red;
}